$size-title1: 32px;
$size-title: 20px;
$size-title-1: 18px;
$size-title-2: 16px;

$size-text1: 14px;
$size-text: 13px;
$size-text-1: 12px;

$color-blue: #409EFF;

$color-success: #67C23A;
$color-warning: #EB9E05;
$color-danger: #FA5555;
$color-info: #878D99;

$color-font1: #2D2F33;
$color-font: #5A5E66;
$color-font-1: #878D99;
$color-font-2: #B4BCCC;

$color-border2: #D8DCE5;
$color-border1: #DFE4ED;
$color-border: #E6EBF5;
$color-border-1: #EDF2FC;
